<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
  <head>
    <title>Pied Piper</title>
  </head>
  <body>
    <h1>Simple API using Nancy on Docker</h1>
    <a href="http://@Model.HostName:@Model.Port/masterswitch/get/1">http://@Model.HostName:@Model.Port/masterswitch/get/{portalid}</a><br/>
    <a href="http://@Model.HostName:@Model.Port/masterswitch/post/1/true">http://@Model.HostName:@Model.Port/masterswitch/post/{portalid}/{true|false}</a><br/>
</body>
</html>
